@font-face {
    font-family: Mitr;
    src: url('../assets/MITR-REGULAR.TTF');
  }
  
.sideGroup{
    font-family: Mitr;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
}
.pin{
    font-family: Mitr;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;}