.card {
    text-align: top;
    background-color:rgb(138, 138, 138);
    /*padding: 5px;
    box-sizing: border-box;*/
    cursor: pointer;
    max-width: 720px;
    padding: 0px 0px 0px 15px;
    box-sizing: border-box;
    display: flex;
    /* flex-direction: column; */
    margin-top: 10px;
    border-radius: 10px;
    margin-left: 8.5px;
    /*box-shadow: 6px 0px 30px #d4d4d4;*/
}
.genre {
    background-color: #7874a3;
    height: 30px;
    max-width: 500px;
    width: 10%;
    border-radius: 8px;
    /*margin-top:-180px;*/
    text-align: center;
    color: whitesmoke;
    /* margin-left: 425px; */
    /* margin-top: -165px; */
}
.card:hover {
    background-color: #cbc9df;
}

.genre:hover{
    background-color: rgb(42, 42, 42);
    color:white;
}
.namecommu{
    /* margin-left: 425px; */
    /* margin-top: -435px; */
}
.padgroupcard{
    background-color: #fff;
    width: 275px;
    height: 100px;
    border-radius: 10px;
    /* margin-left: 405px; */
    /* margin-top: -110px; */
}
.bg{
    background-color: #737373;
}